/* колір основного тексту #212121 */
/* вторичний колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* колір фону #F5F5F5 */
:root {
    --primary-tex-color: #212121;
    --title-tex-color: #757575;
    --accent-color: #2196F3;
}

body {
    background-color: #F5F5F5;
    color: var(--primary-tex-color);
}

.logo {
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

/* site nav */
.site-nav .link {
    color: var(--primary-tex-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.aut-nav a:hover,
.aut-nav a:focus {
    color: var(--accent-color);
}

.aut-nav list {
    color: var(--title-tex-color);
}

ul {
    list-style: none;
}

/* Унікальний контент сторінки */

/* Button */

.button :hover,
.button :focus {
    color: var(--primary-tex-color);
    cursor: pointer;
}

.button.primery {
    color: #FFFFFF;
    background-color: var(--accent-color);
}


.section {
    color: var(--primary-tex-color)
}

.section-title {
    color: var(--title-tex-color);
}

/* Підвал сторінки */
.address {
    color: rgba(255, 255, 255, 0.6)
}

.address .link {
    color: rgba(255, 255, 255, 1);
}